/* Container Section */
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 400px;
    height: 400px;
    /* gap: 2px; */
    border: 1px solid black;
}

.container .grid-item {
    size: 1vw 1vh;
    background-color: white;
    transition: background-color 0.3s ease;
}

.container .grid-item:hover {
    background-color: var(--random-color, gray);
}

.container .grid-item.active {
    background-color: var(--random-color, gray);
}