.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 75vw;
    height: 75vh;
    gap: 2px;
    border: 1px solid black;
}

.container .grid-item {
    size: 16px 16px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.container .grid-item:hover {
    background-color: black;
}

.container .grid-item.active {
    background-color: black;
}